<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
    href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="static/styles.css" />
  <title>Tumor classifier</title>
</head>
<body>
  <div class="container">
    <nav>
      <div class="nav__logo">Tumor Vision</div>
      <ul class="nav__links">
        <li class="link"><a href="#home">Home</a></li>
        <li class="link"><a href="#tumor-types">Tumor Types</a></li>
        <li class="link"><a href="#blog">Blog</a></li>
        <li class="link"><a href="#user-reviews">Reviews</a></li>
        <li class="link"><a href="#faq-section">FAQs</a></li>
        <li class="link"><a href="#about">About Us</a></li>
      </ul>
      <a href="/model" class="btn">Check Now</a>
    </nav>
    <header class="header">
      <div class="content">
        <h1><span>Get Quick</span><br />Classification service</h1>
        <p>
            In today’s fast-paced world, quick access to expert medical care is crucial, especially for brain tumors. Our website offers rapid and reliable information on tumor types and <strong>free</strong> advanced diagnostic tools. 
            Don’t wait—explore our resources now to empower yourself with the knowledge and support you need. 
            Start your journey to effective, timely care today with <strong>just a click!</strong>
        </p>
        <a href="/model" class="btn">Get started</a>
      </div>
      <div class="image">
        <span class="image__bg"></span>
        <img src="static/assets/header.png" alt="header image" />
        <div class="image__content image__content__1">
          <span><i class="ri-user-3-line"></i></span>
          <div class="details">
            <h4>1520+</h4>
            <p>Users</p>
          </div>
        </div>
        <div class="image__content image__content__2">
          <ul>
            <li>
              <span><i class="ri-check-line"></i></span>
              Get instant result
            </li>
            <li>
              <span><i class="ri-check-line"></i></span>
              AI with 93% accuracy
            </li>
          </ul>
        </div>
      </div>
    </header>

    <!-- Sections for each navigation item -->

    <section id="tumor-types">
        <div class="section-content">
          <h2>Tumor Types</h2>
          <p>Understanding the nature of brain tumors is crucial for diagnosis and treatment. Below are some of the most common types.</p>
          <div class="column-line"></div>
          <div class="tumor-types-container">
            <div class="tumor-type-box">
              <h3>Giloma</h3>
              <p>Gliomas are brain tumors originating from glial cells, ranging from benign to malignant. Symptoms vary by location and include headaches and seizures.</p>
              <a href="/giloma" class="learn-more-btn">Learn More</a>
            </div>
            <div class="tumor-type-box">
              <h3>Meningioma</h3>
              <p>Meningiomas are typically benign tumors arising from the meninges, causing symptoms like headaches and vision issues. Treatment usually involves surgical removal.</p>
              <a href="/meningioma" class="learn-more-btn">Learn More</a>
            </div>
            <div class="tumor-type-box">
              <h3>Pituitary</h3>
              <p>Pituitary tumors affect hormone production from the pituitary gland, leading to hormonal imbalances and vision problems. They are often treated with surgery, medication, and radiation.</p>
              <a href="/pituitary" class="learn-more-btn">Learn More</a>
            </div>
          </div>
        </div>
      </section>
      
      
      

      <section id="blog">
        <div class="blog-heading">
          <span>Latest Posts</span>
          <h3>Our Blog</h3>
        </div>
        <div class="blog-cards-container">
          <div class="blog-card">
            <img src="static/assets/treatment.jpg" alt="Blog Post 1" class="blog-card-image" />
            <div class="blog-card-content">
              <h4 class="blog-card-title">Exploring New Treatments for Tumors</h4>
              <p class="blog-card-description">
                Discover the latest advancements in tumor treatment and how they are transforming patient care.
              </p>
              <a href="https://kamaleshfine.medium.com/hope-on-the-horizon-new-breakthroughs-in-braintumor-treatments-8c49597c8e02" class="learn-more-btn">Read More</a>
            </div>
          </div>
          <div class="blog-card">
            <img src="static/assets/download.jpeg" alt="Blog Post 2" class="blog-card-image" />
            <div class="blog-card-content">
              <h4 class="blog-card-title">Understanding the Symptoms of Brain Tumors</h4>
              <p class="blog-card-description">
                A comprehensive guide to recognizing the early symptoms of brain tumors and when to seek medical advice.
              </p>
              <a href="https://medium.com/@211501045/brain-tumour-symptoms-92092c3d3d23" class="learn-more-btn">Read More</a>
            </div>
          </div>
        </div>
      </section>
      
      

      <section id="user-reviews">
        <div class="reviews-heading">
          <h2>User Reviews</h2>
        </div>
        <div class="reviews-wrapper">
          <div class="reviews__intro">
            <h1>What Our Users Are Saying</h1>
            <p>
              Thousands of patients and medical professionals trust us for accurate
              and reliable tumor classification.
              Our advanced MRI scan analysis has improved diagnosis and treatment
              decisions worldwide.
            </p>
            <br>
            <a href="/model" class="btn">Start Your MRI Scan Today</a>
          </div>
          <div class="reviews__cards">
            <div class="review-card">
              <img src="static/assets/pic-1.jpg" alt="User 1" />
              <div class="review-card__content">
                <span><i class="ri-double-quotes-l"></i></span>
                <div class="review-card__details">
                  <p>
                    "Tumor Vision made diagnosing a breeze. 
                    Quick, accurate, and easy to use. Highly recommend!"
                  </p>
                  <h4>- Ashwin ER</h4>
                </div>
              </div>
            </div>
            <div class="review-card">
              <img src="static/assets/pic-2.jpeg" alt="User 2" />
              <div class="review-card__content">
                <span><i class="ri-double-quotes-l"></i></span>
                <div class="review-card__details">
                  <p>
                    "Impressive results and a user-friendly platform. 
                    Great service for anyone needing tumor classification!"
                  </p>
                  <h4>- Girish JR</h4>
                </div>
              </div>
            </div>
            <div class="review-card">
              <img src="static/assets/pic-3.jpg" alt="User 3" />
              <div class="review-card__content">
                <span><i class="ri-double-quotes-l"></i></span>
                <div class="review-card__details">
                  <p>
                    "Fast, reliable, and straightforward. 
                    Tumor Vision exceeded my expectations. Will definitely use again!"
                  </p>
                  <h4>- Mary Delfina</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      
      </section>
      
      
      

      <section id="faq-section">
        <div class="faq-container">
          <h2>Frequently Asked Questions</h2>
          <div class="accordion">
            <div class="accordion-item">
              <input type="checkbox" id="accordion-checkbox-1" class="accordion-checkbox">
              <label for="accordion-checkbox-1" class="accordion-button">
                <span class="accordion-title">What is the purpose of the Tumor Vision website?</span>
                <span class="icon" aria-hidden="true"></span>
              </label>
              <div class="accordion-content">
                <p>
                  Tumor Vision provides quick and efficient tumor classification services using advanced AI technology. 
                  Our goal is to offer accurate and timely information to help individuals understand different types of tumors and the available treatment options.
                </p>
              </div>
            </div>
            <div class="accordion-item">
              <input type="checkbox" id="accordion-checkbox-2" class="accordion-checkbox">
              <label for="accordion-checkbox-2" class="accordion-button">
                <span class="accordion-title">How does the tumor classification service work?</span>
                <span class="icon" aria-hidden="true"></span>
              </label>
              <div class="accordion-content">
                <p>
                  Our service utilizes deep learning algorithms to analyze medical images and data to classify tumors. 
                  It examines various features in the images and compares them against a vast dataset to provide an accurate classification of the tumor type.
                </p>
              </div>
            </div>
            <div class="accordion-item">
              <input type="checkbox" id="accordion-checkbox-3" class="accordion-checkbox">
              <label for="accordion-checkbox-3" class="accordion-button">
                <span class="accordion-title">Is the tumor classification service accurate?</span>
                <span class="icon" aria-hidden="true"></span>
              </label>
              <div class="accordion-content">
                <p>
                  Our AI system is designed to provide highly accurate classifications, with a reported accuracy rate of approximately 93.5%. 
                  However, it's important to consult with a healthcare professional for a comprehensive diagnosis and treatment plan.
                </p>
              </div>
            </div>
            <div class="accordion-item">
              <input type="checkbox" id="accordion-checkbox-4" class="accordion-checkbox">
              <label for="accordion-checkbox-4" class="accordion-button">
                <span class="accordion-title">What types of tumors can be classified using your service?</span>
                <span class="icon" aria-hidden="true"></span>
              </label>
              <div class="accordion-content">
                <p>
                  Our service can classify a range of tumor types, including gliomas, meningiomas, and pituitary tumors. 
                  Each tumor type is analyzed based on its specific characteristics.
                </p>
              </div>
            </div>
            <div class="accordion-item">
              <input type="checkbox" id="accordion-checkbox-5" class="accordion-checkbox">
              <label for="accordion-checkbox-5" class="accordion-button">
                <span class="accordion-title">How can I get started with the tumor classification service?</span>
                <span class="icon" aria-hidden="true"></span>
              </label>
              <div class="accordion-content">
                <p>
                  To get started, you can use our "Check now" button on the homepage. 
                  Upload your medical images or data as instructed, and our AI system will process and provide a classification. 
                  You may also need to consult with your doctor to discuss the results.
                </p>
              </div>
            </div>
            <div class="accordion-item">
              <input type="checkbox" id="accordion-checkbox-6" class="accordion-checkbox">
              <label for="accordion-checkbox-6" class="accordion-button">
                <span class="accordion-title">What should I do if I have further questions about the results?</span>
                <span class="icon" aria-hidden="true"></span>
              </label>
              <div class="accordion-content">
                <p>
                  If you have additional questions or need further clarification about your results, we recommend reaching out to your healthcare provider. They can provide a detailed explanation and discuss any follow-up steps or treatments.
                </p>
              </div>
            </div>
            <div class="accordion-item">
              <input type="checkbox" id="accordion-checkbox-7" class="accordion-checkbox">
              <label for="accordion-checkbox-7" class="accordion-button">
                <span class="accordion-title">What model does Tumor Vision use for classification?</span>
                <span class="icon" aria-hidden="true"></span>
              </label>
              <div class="accordion-content">
                <p>
                  We use a hybrid deep learning model that combines VGG16 and Inception V3. This advanced model leverages the strengths of both architectures to improve accuracy and reliability in tumor classification.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      
      
      

      <section id="about">
        <div class="about-heading">
            <h2>Meet Our Team</h2>
        </div>
        <div class="team-wrapper">
            <div class="team-member">
                <img src="static/assets/jenish.jpg" alt="Team Member 1">
                <h4>Jenish Praveen Kumar G</h4>
                <a href="https://www.linkedin.com/in/jenishg2911?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank">
                    <i class="ri-linkedin-box-fill"></i> LinkedIn
                </a>
            </div>
            <div class="team-member">
                <img src="static/assets/neha.jpg" alt="Team Member 2">
                <h4>Kalakonda Neha</h4>
                <a href="https://www.linkedin.com/in/kalakondaneha?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank">
                    <i class="ri-linkedin-box-fill"></i> LinkedIn
                </a>
            </div>
            <div class="team-member">
                <img src="static/assets/kamlesh.JPG" alt="Team Member 3">
                <h4>Kamalesh S</h4>
                <a href="https://www.linkedin.com/in/kamalesh-srinivasan-867595225?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" target="_blank">
                    <i class="ri-linkedin-box-fill"></i> LinkedIn
                </a>
            </div>
            <div class="team-member">
                <img src="static/assets/Mr kamlesh.jpg" alt="Team Member 4">
                <h4>kamlesh P</h4>
                <a href="https://www.linkedin.com/in/kamalesh-pandian-470583209?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank">
                    <i class="ri-linkedin-box-fill"></i> LinkedIn
                </a>
            </div>
            <div class="team-member">
                <img src="static/assets/kaushick.jpg" alt="Team Member 5">
                <h4>Kaushik S</h4>
                <a href="https://www.linkedin.com/in/kaushik-s-240288249?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" target="_blank">
                    <i class="ri-linkedin-box-fill"></i> LinkedIn
                </a>
            </div>
            <div class="team-member">
                <img src="static/assets/madhu.jpg" alt="Team Member 6">
                <h4>Madhumathi G</h4>
                <a href="https://www.linkedin.com/in/madhumathi-g-820429249?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank">
                    <i class="ri-linkedin-box-fill"></i> LinkedIn
                </a>
            </div>
        </div>
    </section>
    <footer>
      <div class="footer-container">
        <ul class="footer-nav">
          <li class="footer-link"><a href="#tumor-types">Tumor Types</a></li>
          <li class="footer-link"><a href="#blog">Blog</a></li>
          <li class="footer-link"><a href="#user-reviews">Reviews</a></li>
          <li class="footer-link"><a href="#faq-section">FAQs</a></li>
          <li class="footer-link"><a href="#about">About Us</a></li>
        </ul>
        <p>&copy; 2024 Tumor Vision. All rights reserved.</p>
      </div>
    </footer>
    
  </div>
</body>
</html>
